html 
  header 
    title Monster API Documents
    link(rel= 'stylesheet', href= 'style.css')
  body 
    div(class= "header")
      h1 Monster API Documents 
    div(class= "docs")
      h2 GET /monsters/fire
      p returns all monsters with same classification or element
      h3 Example 
      p Reponse 
        p [{
        p  id: 1,
        p  name: 'Aknosom',
        p  image: 'https://static.wikia.nocookie.net/monsterhunter/images/c/cf/MHRise-Aknosom_Icon.png/revision/latest/scale-to-width-down/80?cb=20210323165043',
        p  classification: 'Bird Wyvern',
        p  elements: 'Fire',
        p  habitat: 'Shrine Ruins, Frost Islands, Red Stronghold',
        p  generation: 'Fifth'
        p},
      p Or 
        p[{
        p  id: 1,
        p  name: 'Aknosom',
        p  image: 'https://static.wikia.nocookie.net/monsterhunter/images/c/cf/MHRise-Aknosom_Icon.png/revision/latest/scale-to-width-down/80?cb=20210323165043',
        p  classification: 'Bird Wyvern',
        p  elements: 'Fire',
        p  habitat: 'Shrine Ruins, Frost Islands, Red Stronghold',
        p  generation: 'Fifth'
        p}, {
        p  id: 3,
        p  name: 'Anjanath',
        p  image: 'https://static.wikia.nocookie.net/monsterhunter/images/7/76/MHRise-Anjanath_Icon.png/revision/latest/scale-to-width-down/80?cb=20210323171406',
        p  classification: 'Brute',
        p  elements: 'Fire',
        p  habitat: 'Shrine Ruins, Sandy Plains, Flooded Forest, Lava Caverns, Red Stronghold',
        p  generation: 'Fifth'
        p},