html 
  header 
    title Monster API Documents
    link(rel= 'stylesheet', href= 'style.css')
  body 
    div(class= "header")
      h1 Monster API Documents 
      h3 
        a(href='/') Back
      br