html 
  body 
    h1 Monster Classifications
  div
    for monster in monsters
       a(href=`/monsters/${monster.classificationSlug}`)= monster.classification
       div 
  div 
    include apidocs.pug
